body {
    background-color: rgba(9, 14, 82, 0.671);
    font: normal 13pt Arial;
}

header {
    color: azure;
    text-align: center;
}

section {
    background: azure;
    border-radius: 7px;
    padding: 13px;
    width: 400px;
    margin: auto;
    box-shadow: 7px 7px 10px rgba(11, 26, 163, 0.404);
}

footer {
    color: azure;
    text-align: center;
    font-style: italic;
}
